@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 
/*-----------------------------------*/

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

/* Стили главной страницы*/

.list__main {
  font-size: 30px;
  padding: 10px;
}

.list__main-item {
  margin-bottom: 10px;
}


/*.main__body{
  background: url("../img/img1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}*/


body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


:root {
  --header-height: 70px;
  --footer-height: 70px;
}
.container__page {
  color: #000;
  top: 0px;
  width: 100%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.container__page-fheader {
  font-size: 50px;
  font-weight: 700;
  margin-top: 10px;
  color: #fff;

}

.container__page-ftext {
  margin-top: 50px;
  font-size: 16px;
  color: #fff;
  padding: 10px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  max-width: 50%;
}

.container__page-myphoto>p {
  background: rgba(0, 0, 0, 0.2);
}
.container__page-block {
  width: 100%;
  height: 50%;
}

.container__page-text {
  text-align: center;
}

.container__page-row {
  margin-top: 32px;
  display: flex;
  align-items: center;
  /*flex-direction: row;*/
  justify-content: space-around;
}

.container__page-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 240px;
  background-color: rgb(10, 129, 89);
  border-radius: 10px;
}

.container__page-item img {
margin-top: 10px;  
width: 200px;
height: 200px;
border-radius: 10px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.container__page-row-port {
  margin: 100px;
  display: flex;
  align-items: center;
  /*flex-direction: row;*/
  justify-content: space-around;
}
.container__page-block-port {
  width: 100%;
  height: 100%;
}
.container__page-item-port {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: rgb(10, 129, 89);
  border-radius: 10px;
}

.container__page-item-port img {
margin-top: 15px;  
width: 250px;
height: 250px;
border-radius: 10px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.container__page-description {
  margin-top: 8px;
  font-size: 15px;
  color: gold;
  text-align: center;
}

h1 {
    color: white;
}

.container__page-myphoto {
  padding-top: 30px;
  color: #fff;
  text-align: center;
}

.container__page-myphoto img {
  border-radius: 50%;
}


.slider__one {
  top: var(--header-height);
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  background-color: darkblue;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 100%;
  display: flex;
  padding: 0px 20px;
}

.slide{
  height: calc(100vh - var(--header-height) - var(--footer-height));
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out ;
}

.slide h3{
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active{
  flex: 10;
}

.slide.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.footer__site { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  height: 70px;
  background-color: rgb(23, 42, 89);
}

.button__site-item {
  margin-top: 20px;
  text-align: center;
}

.footer__site-text {
  height: 50%;
  margin-top: 7px;
  font-size: 15px;
  color: #fff;
}

.footer__site-social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  width: 7%;
}
/*----------------------Кнопка-----------------------------*/
.mybtn{
background-color: #3298e6;
color: #fff;
width: 160px;
height: 35px;
font-size: 15px;
border-radius: 10px;  
margin: auto 15px;
}

.input__form-name {
  margin-left: 30px;
}

.input__form-mail {
  margin-left: 21px;
}

.modal-body {
  background-color: rgb(16, 53, 122);
}

.input__form {
  color: #fff;
}

.modal-footer, .modal-header {
  
  background-color: aqua;
}

#exampleModalLabel {
  color: #000;
}

/*                СТИЛИ ДОМАШКИ                        */

.f-page-head h2 {
   padding-top: 10px;
   padding-left: 20px;
   font-size: 24px;
}

.f-page-bar {
  max-width: 970px;
  background-color: green;
  margin-left: 10px;
  border-radius: 5px;
}

.f-page-bar p {
  color: #fff;
  padding: 10px;
}

.f-page-form-item h3{
  font-size: 18px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.f-page-form-item {
  padding-bottom: 5px;
  padding-left: 10px;
  max-width: 970px;
}

.f-page-form-button {
  cursor: pointer;
  color: #fff;
  background-color: darkorange;
  border: 0px;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 10px;
  padding: 5px;
}

.f-page-form-button:hover {
  color: #000;
  background-color: rgb(234, 170, 91);
}

.f-page-text {
  max-width: 970px;
  background-color: darkorange;
  margin-left: 10px;
  border-radius: 5px;
}

.f-page-text p {
  color: #fff;
  padding: 10px;
}

.f-page-video {
  margin-left: 10px;
}

.f-page-list {
  max-width: 970px;
  min-height: 480px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid rgb(51, 50, 50);
}

.list-item-wr {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.list-item-text {
  border-bottom:2px dashed #000;
}

.look {
  cursor: pointer;
  color: #fff;
  background-color: darkorange;
  border: 0px;
  border-radius: 5px;
  padding: 3px;
}
.look:hover {
  color: #000;
  background-color: rgb(234, 170, 91);
}

.down {
  cursor: pointer;
  color: #fff;
  background-color: rgb(80, 33, 209);
  border: 0px;
  border-radius: 5px;
  padding: 3px;
}

.down:hover {
  color: #000;
  background-color: rgb(143, 189, 242);
}

/*          Модальное окно            */

.popup {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup-header {
  background-color: #5c82b8;
  font-size: 20px;
  color: white;
  display: flex;
  padding: 2px 16px;
}

.popup-body {
  padding: 2px 16px;
}

.popup-body-title {
  border-bottom:2px dashed #000;
}

.popup-footer {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #5c82b8;
  color: white;
  text-align: center;
}

.popup-content {
  position: relative;
  background-color: #fefefe;
  top: 70px;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 5px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-duration: animatetop;
  animation-duration: 0.4s;
}
 
@keyframes animatetop {
   from {
    top: -300px;
    opacity: 0;
   } 
   to {
    top: 0;
    opacity: 1;
   }
}

/*           ТАБЫ                        */
.tabs {
  max-width: 100%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  background-color: #eee;
  position: relative;
}

.tabs__header {
  display: flex;
  border-bottom: 1px solid #ccc;
  font-size: 1.25rem;
}

.tab-nav-item {
  padding: 10px 5px;
  width: 100%;
  background-color: darkorange;
  text-align: center;
  cursor: pointer;
  transition: 0.5s all;
}

.tab-nav-item:hover {
  color: #000;
  background-color: rgb(143, 189, 242);
  border-bottom: 1px solid green;
}

.tab-nav-item.active {
  background-color: rgb(80, 33, 209);
  color: #fff;
  border-bottom: 1px solid green;
}

.tabs__body {
  padding: 10px 10px;
}

.tabs__content {
  display: none;
}

.tabs__content.active {
  display: block;
}

.tabs__content-wr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-t {
  min-height: 450px;
  background-color: #dbe8f2;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.content-l {
  padding-left: 20px;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content-r {
  padding-left: 20px;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content-b {
  padding-top: 10px;
}
.save {
  cursor: pointer;
  color: #fff;
  background-color: rgb(16, 120, 47);
  border: 0px;
  border-radius: 5px;
  padding: 5px;
}
.save:hover {
  color: #000;
  background-color: rgb(65, 234, 116);
}

.reset {
  cursor: pointer;
  color: #fff;
  background-color: darkorange;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
}

.reset:hover {
  color: #000;
  background-color: rgb(234, 170, 91);
}

.service {
  cursor: pointer;
  color: #fff;
  background-color: rgb(39, 16, 153);
  border: 0px;
  border-radius: 5px;
  padding: 5px;
}

.service:hover {
  color: #000;
  background-color: rgb(109, 123, 244);
}

.copy-text {
  cursor: pointer;
}

.copy-text:hover {
  color: #3298e6;
}

.help {
  cursor: pointer;
}